body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    flex-direction: column; 
}
html {
    scroll-behavior: smooth;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


footer {
  width: 100%;
  background: #333; 
  color: #fff; 
  text-align: center;
  padding: 10px 0; 
}


.hraci_plan {
    width: 100%;
    max-width: 600px; 
    display: block;
    margin: 20px auto; 
}

.logo {
    text-align: center; 
    margin: 3px; 
}

.logo img {
    width: auto; 
    max-width: 50%; 
    height: auto;
}
#cards-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
  }
  .card {
    height: 80%;
    width: 24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
  }
  #card1 {
    background-image: url('Asset/KartaCervenyZivoty.png');
  }
  #card2 {
    background-image: url('Asset/Karta2.png');
  }
  #card3 {
    background-image: url('Asset/Karta3.png');
  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    background-image: url('Asset/CervenaPostavicka.png');
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;
    text-align: center;
  }
  
  .overlay p {
    color: #000;
    font-size: 18px;
    text-align: center;
  }
  .overlay strong {
    font-weight: bold; 
    color: #000; 
  }
  .overlay a {
    color: blue;
  }
  .card:hover .overlay {
    opacity: 1;
  }
  .card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
  }
@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
.image-row2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px; 
}

.image-row2 a img {
  width: 900px; 
  height: 500px; 
  transition: transform 0.2s ease;
}

.image-row2 a:hover img {
  transform: scale(1.50); 
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px; 
}

.image-row a img {
    width: 200px; 
    height: auto; 
    transition: transform 0.2s ease;
}

.image-row a:hover img {
    transform: scale(1.50); 
}

.download-text {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 18px;
    font-weight: bold;
}


.centered-image img {
  max-width: 50%; 
  height: auto; 
  display: flex;
  justify-content: center;
}


main {
  position: relative; 
  width: 100%; 
  overflow: hidden; 
  flex: 1;
}

.backgroundLogo {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(8px); 
  width: 100%;
  height: 68%; 
  z-index: -1;
}

.content-wrapper {
  position: relative; 
  z-index: 1; 
  padding: 20px; 
}


.box {
  width: 99%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 4px solid black;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.box p {
  color: black;
  margin: 0;
  white-space: normal;
  overflow-wrap: normal;
  text-align: left; 
}

.box strong {
  color: black; 
  display: block; 
  font-weight: bold; 
  margin-bottom: 5px; 
}
.ImageVlevemmRohu {
  position: fixed;
  top: 10px; 
  left: 10px; 
  width: 200px; 
  height: auto; 
  
}
